<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  User: <%= user %><br>
  Session: <%= session.id %>
  <br>
  <a href="/logout">Logout</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/login">Login</a>
  <a href="/signup">SignUp</a>

  <br>
  <br>
  <div>
    <h2>Filmes em Catálogo</h2>
    <ul>
      <% for (let i = 0; i < films.length; i++) { %>
        <li>
          <h3><%= films[i].name %></h3>
          <a href="/film/<%= films[i].id %>">
            <img src="<%= films[i].picture_url %>" alt="" width="200" height="400">
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</body>
</html>